/*
body{
    background: #EDF2F4;
    linear-gradient(rgb(240, 27, 27), rgb(136, 27, 27));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

colorpallet{
    color: #d90429;
    color: #ef233c;
    color: #edf2f4;
    color: #8d99ae;
    color: #2b2d42;
}


body{
    margin: 0px;
}

#fullpage{
    background-color: #EDF2F4;
    display: flex;
    flex-direction: column;
}

#header {
    position: sticky;

    top:0px;
    width: 100%;
    height: 100px;

    border-radius: 0px 0px 20px 20px;
    border-bottom: 10px solid #8d99ae;
    border-left: 5px solid #8d99ae;
    border-right: 5px solid #8d99ae;

    background-color: #2B2D42;

    z-index: 2;
}

#titlebox{
    width: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h1{
    color: #EDF2F4;
    font-family: "Comic Sans MS", "Press Start 2P", sans-serif;
    text-shadow: 2px 2px 0px #EF233C;
}

#middlepage{
    position: relative;
    
    background: linear-gradient(#EDF2F4, #d8e3e8);
    background-repeat: no-repeat;
    background-attachment: fixed;

    z-index: 0;
}

#faketext{
    position: relative;
    left: 10px;
    width: 99%;
}

#bottom{
    position: relative;

    margin-top: auto;
    height: 100px;
    
    border-radius: 20px 20px 0px 0px;
    border-top: 10px solid #8d99ae;
    border-left: 5px solid #8d99ae;
    border-right: 5px solid #8d99ae;

    background-color: #2B2D42;

    z-index: 1;
}

p{
    color: #2B2D42;
    font-family: "consolas", sans-serif;
    font-weight: bold;
}

/*
.link{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    color: #EDF2F4;
    width: 10px;
}

.link:hover{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    color: #EF233C;
}

.link:active{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    color: #EF233C;
}
*/
a:link{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    color: #8d99ae;
    text-decoration: none;
}

a:visited{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    color: #8d99ae;
    text-decoration: none;
}

a:hover{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    color: #EF233C;
    text-decoration: underline;
}

a:active{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    color: #EF233C;
    text-decoration: underline;
}
/*
button{
    background-color: transparent;
    border: none;
    color: #EDF2F4;
}

button:visited{
    background-color: transparent;
    border: none;
    color: #EDF2F4;
}

button:hover{
    background-color: transparent;
    border: none;
    color: #EF233C;
}

button:active{
    background-color: transparent;
    border: none;
    color: #EF233C;
}
*/

#box1{
    border: 5px solid;
    height: 200px;
    width: 250px;
    border-color: #EF233C;
    background-color: #2B2D42;
    border-radius: 10%;
    
    position:sticky;
    top: 0;

    text-align: center;
}

#box1:active{
    /*
    animation: myAnim;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    */

    animation: 3s ease-out 1s 1 running rotate;
}

@keyframes myAnim {
    from{transform: skewY(0deg);}
    to{transform: skewY(50deg);}
}

@keyframes rotate {
    100%{transform: rotateX(360deg);}
}

@keyframes opacity {
    50%{opacity:0;}
}

@keyframes colorChange {
    0%{background-color: red;}
    14%{background-color: orange;}
    30%{background-color: yellow;}
    46%{background-color: green;}
    62%{background-color: blue;}
    78%{background-color: indigo;}
    92%{background-color: violet;}
    100%{background-color: red;}
}

#box2{
    border: 5px solid;
    height: 100px;
    width: 150px;
    position: relative;

    background-color: aliceblue;

    transform: rotateX(30deg);
    transform: skewX(20deg);
    transform: scaleX(2);
    transform: translateX(30px);

    transform: matrix();
}

#box3{
    border: 3px solid;
    height: 50px;
    width: 50px;
    animation: 20s ease-in-out 1s infinite running colorChange;

    position: absolute;
    top: 25px;
    left: 25px;
}

/*
li:nth-child(3){
    background-color: rgb(39, 212, 255);
}
li:nth-child(even){
    background-color: rgb(39, 212, 255);
}
*/

li:nth-child(2n+1){
    background-color: #8D99AE;
}

li:hover{
    color: #EF233C;
}